<!-- <p>product-list works!</p> -->

<!-- tools (sorting , change view , exporting) -->
<div class="item-listing__tools">
  <select class="form-control" name="" id="" (change)="sortBy($event)">
    <option (select)="sortBy($event)" value="1">Featured</option>
    <option value="2" >Price low to high</option>
    <option value="3">Price high to low</option>
    <option value="4">Name</option>
  </select>
<a class="action-btn" routerLink="/add">
    <i class="fas fa-plus"></i>
  </a>
</div>
<!-- items -->
<div class="item-listing__items item-listing--3items" >
  <app-product 
  
    *ngFor="let p of productArr; let i = index"
    [product]="productArr[i]"
    class="item-medium-1"
    style="width: 30% ;"
  ></app-product>
</div>
<!-- paging -->
<div class="paging">
  <!-- left arrow -->
  <div class="paging__arrow">
    <i class="fas fa-angle-left"></i>
  </div>
  <!-- page number -->
  <div class="paging__number active">1</div>
  <div class="paging__number">2</div>
  <div class="paging__number">3</div>
  <!-- right arrow -->
  <div class="paging__arrow">
    <i class="fas fa-angle-right"></i>
  </div>
</div>

<!-- <app-product [product]="productArr[1]" class="item-medium-1"></app-product>
<app-product [product]="productArr[2]" class="item-medium-1"></app-product>
<app-product [product]="productArr[3]" class="item-medium-1"></app-product>
<app-product [product]="productArr[4]" class="item-medium-1"></app-product>
<app-product [product]="productArr[5]" class="item-medium-1"></app-product> -->
