<!-- <p>product-list works!</p> -->

<!-- tools (sorting , change view , exporting) -->
<div class="item-listing__tools">
  <select class="form-control" name="" id="" (change)="sortBy($event)">
    <option (select)="sortBy($event)" value="1">Featured</option>
    <option value="2" >Price low to high</option>
    <option value="3">Price high to low</option>
    <option value="4">Name</option>
  </select>
<a class="action-btn" routerLink="/add">
    <i class="fas fa-plus"></i>
  </a>
</div>
<!-- items -->
<div class="item-listing__items item-listing--3items" >
  <app-product 
  
    *ngFor="let p of currentPageProducts; let i = index"
    [product]="currentPageProducts[i]"
    class="item-medium-1"
    style="width: 30% ;"
  ></app-product>
</div>
<!-- paging -->
<div class="paging">
  <!-- left arrow -->
  <a class="paging__arrow" [routerLink]="['/',currentRoute,'page',1]">
    <i class="fas fa-angle-left"></i>
  </a>
  <!-- page number -->
  <a [routerLink]="['/',currentRoute,'page',previousPage]" [hidden]="previousPage==0" class="paging__number ">{{previousPage}}</a>
  <a [routerLink]="['/',currentRoute,'page',currentPage]"   class="paging__number active">{{currentPage}}</a>
  <a [routerLink]="['/',currentRoute,'page',nextPage]" [hidden]="nextPage> last "  class="paging__number ">{{nextPage}}</a>
  <!-- right arrow -->
  <a class="paging__arrow" [routerLink]="['/',currentRoute ,'page',last]">
    <i class="fas fa-angle-right"></i>
  </a>
</div>

<!-- <app-product [product]="productArr[1]" class="item-medium-1"></app-product>
<app-product [product]="productArr[2]" class="item-medium-1"></app-product>
<app-product [product]="productArr[3]" class="item-medium-1"></app-product>
<app-product [product]="productArr[4]" class="item-medium-1"></app-product>
<app-product [product]="productArr[5]" class="item-medium-1"></app-product> -->
